---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PScale Edge Fetching Perf Test">
	<main>
		<a href="/pscale">pscale bench</a>
		<a href="/redis">upstash/redis bench</a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
